@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Montserrat;
    src: url("https://fonts.googleapis.com/css?family=Montserrat");
}

#app {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url("../public/background_img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    font-family: Montserrat;
    background-size: auto;
    height: 100vh;
    width: 100%;
}